
.welcome{
    margin-bottom: 0;
 }

 body {
    align-items: center;
    justify-content: center;
  
    background:
    url(https://c1.wallpaperflare.com/path/542/741/125/music-instruments-guitar-band-studio-microphone-1e514e58db315164de9bfc39a092c219.jpg)
    center / cover no-repeat fixed;
   }

   .card {
    max-width: 300px;
    min-height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
 
    max-width: 600px;
    padding: 35px;
 
    border: 1px solid rgba(255, 255, 255, .25);
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.45);
    box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.25);
    
    backdrop-filter: blur(15px);
    color: black;
   }

   h1 {
    color: rgb(255, 255, 255);
  }

  .links{
      font-size: xx-large;
      
  }
  .fab{
      color: black;
      padding-right: 4px;
      text-decoration: none;
  }
  .fab:hover{
   color: rgb(0, 128, 255);
  }

  .home{
    margin: 200px;
    font-size: 1000%;
    text-align: center;
  }

  footer a{
    text-decoration: none;
  }